body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .top-box {
    background-color: #c9fbff;
    background: linear-gradient(to right, #f5f5f5, #dcdcdc,#c9d6ff,#0fe5e9);
    /* background: linear-gradient(to right, #05f6fa,#88e5f5,#d6cece,#ffffff,); */
  }
  
  .header,
  .intro {
    padding: 0 20px;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    height: 8rem;
  }

.header .logo .logo-name {
    font-weight: 700;
    padding-left: 0.8rem;
    margin-bottom: 0.7rem;
}
  
  .header .links {
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 0;
    margin: 0;
    gap: 24px;
  }
  
  a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
  }
  
  .intro {
    display: flex;
    gap: 48px;
    padding-left: 2rem;
  }
  
  .intro .card {
    flex: 1;
  }
  
  .intro .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro .card .hero {
    font-size: 40px;
    font-weight: 800;
    color: #000;
    margin-bottom: 8px;
  }
  
  .intro .card .subtext {
    font-size: 18px;
    color: #000;
    margin-bottom: 16px;
  }
  
  .header .ul button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 3rem;
  }

  .header .ul button:hover {
    background-color: #c0edf3e5;
    color: #000;
  }
  
  .title {
    font-size: 36px;
    font-weight: 800;
    color: #290808;
    padding: 50px 20px;
  }
  
  .square {
    height: 164px;
    width: 164px;
    border: #290808 solid 4px;
    border-radius: 14px;
    margin-bottom: 8px;
    margin-left: 1rem;
  }
  
  .content {
    text-align: center;
    background: linear-gradient(to right, #e32424, #ebcbcb,#fce2e2,#fff);
  }
  
  .products {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 140px;
    padding: 0 20px;
    margin: 0 auto 140px;
    flex-wrap: wrap;
  }
  
  .products .subtext {
    width: 210px;
    font-size: 18px;
    color: #290808;
  }
  
  .testimonial {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #f5f5f5, #dcdcdc);
    height: 430px;
  }
  
  .testimonial .container {
    margin: 116px auto;
    padding: 0 20px;
    max-width: 770px;
  }
    
  .testimonial .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
  }
  
  .testimonial .customer {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }
  
  .bottom-box {
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .banner {
    display: flex;
    width: 910px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    gap: 120px;
    border-radius: 12px;
    padding: 0px 20px;
  }
  
  .banner .call-to-action {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 600;
  }
  
  .banner .subtext {
    font-size: 18px;
    color: #E5E7EB;
  }
  
  .banner button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    border: #F9FAF8 solid 2px;
    font-size: 18px;
    font-weight: 600;
  }

  .banner button:hover {
    background-color: #fff;
    color: #3882F6;
  }
  
  .footer {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
  }